@page
@model Tshop.Pages.LienheModel
@{
}
<div class="container-fluid contact py-5">
    <div class="container">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Liên hệ</h1>
                        
                        <p>Tên liên hệ: Trương Minh Trí</p>
                        <p>SĐT liên hệ: 0964413186</p>
                        <p>Địa chỉ liên hệ: 53/27A Bùi Văn Ba</p>
                        <p class="primary">Mọi chi tiết xin vui lòng liên hệ quả các thông tin trên!!!</p>
                        <a class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" asp-page="/Index">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
